:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 2px;
  border: 1px solid #73737388;
  padding: 0.6em 1.2em;
  margin: 10px;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #f9f9f9;
}

button:hover {
  border-color: #4a4a4e;
  box-shadow: 2px 2px 2px #73737388;
}

button:active,
button:focus-visible {
  background-color: rgba(128, 128, 128, 0.533);
  color: white;
}

button:focus {
  border: 1px solid #73737388;
}

.order-table {
  max-height: 60vh;
  overflow-y: scroll;
}

.order-table th,
.order-table td {
  padding: 3px 6px;
}
